body {
    background: linear-gradient(-45deg, #eea791, #f1c7d6, rgb(238, 238, 195), #a9ddf1, #abedde);
    animation: gradient 15s ease-in-out infinite;
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
}

#nav-bar {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(57, 205, 148);
}

/* .image{
   width: auto;
   height: auto;
   max-width: 100%;
   max-height: 100%;
   
} */


.card {
    height: 500px;
    width: 400px;
}

.fav-img {
    height: 300px;
    width: auto;
}



.viewBtn {
    background-color: #fff;
    border: none;
    font-size: 20px;
}

.viewBtn:hover{
    font-size: 23px;
}

.favorite-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





@media screen and (max-width: 850px) {
    .favorite-ctn {
        flex-direction: column;
    }
    
}