body {
    background: linear-gradient(-45deg, #eea791, #f1c7d6, rgb(238, 238, 195), #a9ddf1, #abedde);
    animation: gradient 15s ease-in-out infinite;
    background-size: 400% 400%;
    height: 100vh;
    width: 100%;
}

#nav-bar {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(57, 205, 148);
}