* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*adding colors and animation to background*/
.background-gradient {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #eea791, #f1c7d6, rgb(238, 238, 195), #a9ddf1, #abedde);
	  background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
}
/*adding keyframes to change the gradient styles*/
@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
    color: #5072A7;
    font-size: 65px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 70px;
    margin-left: 27%;
    display: inline;
}

/* nav bar */
#hamburger {
    display: inline;
    float: left;
    width: 80px;
    margin-left: 20%;
    margin-top: 40%;
}

.button {
  border: none;
  background-color: transparent;

}

.button:hover{
  border: none;
}

.dropdown-content {
  margin-top: 15%;
  margin-left: -10%;
  background-color: transparent;
}

.dropdown-content a {
  font-size: 20px;
}

.dropdown {
    display: inline;
    float: right;
    border-style: none;
    font-family: 'Ubuntu', 'san serif';
}

.dropdown-divider {
  background-color: #000;
}

/*adding plane animation*/
.plane {
        position: absolute;
        top: 50px;
        right: -500px;
        z-index: 1;
        animation: plane 30s linear 0s infinite reverse;
        opacity: .7;
      }
@keyframes plane {
    from { right: -500px; }
    to {right: 102%; }
}


/*searchbar styling*/
.searchbar {
    color: #5072A7;
    margin-right: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 200px;
    z-index: 2;
}

.city-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

#searchBtn {
    color: #5072A7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
}

#cityInput {
    padding: auto;
    font-size: 20px;
}
#activSearch {
    padding: auto;
    font-size: 20px;
    width: 130px;
}
      

/* Social Media Icons */

footer {
    text-align: center;
    margin: 10%;
    max-width: 100%;
  }
  
  #contact {
  max-width: 100%;
  }
  
  .social-media-list {
    margin-top: 10%;
    position: relative;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  
    /* margin-left: 100px; */
  
    padding: 0;
  }
  
  .social-media-list li a {
    color: rgb(255, 255, 255);
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width:60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px rgb(118, 118, 118);
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: rgb(107, 107, 107); 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  
    /* margin-left: 200px; */
  
  }