.card-img-custom {
    width: 960px;
}

.custom-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.custom-card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.background-gradient {
    width: 100%;
    background: linear-gradient(-45deg, #eea791, #f1c7d6, rgb(238, 238, 195), #a9ddf1, #abedde);
	/* background-size: 400% 400%; */
    animation: gradient 15s ease-in-out infinite;
}

.custom-heart {
    font-size: 30px;
    float: right;
    background-color: transparent;
    border: none;
}

.custom-heart:hover {
    cursor: pointer;
    color: red;
}

.custom-columns {
    display: flex;
    justify-content: start;
}

.custom-margin {
    margin-bottom: 2rem;
}

.no-hover {
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .custom-card {
        margin-top: 2rem;
    }
  }