@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    max-width: auto;
    max-height: fit-content;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    
}

.background-gradient {
  width: 100%;
  background: linear-gradient(-45deg, #eea791, #f1c7d6, rgb(238, 238, 195), #a9ddf1, #abedde);
  animation: gradient 15s ease-in-out infinite;
}

.title {
  color: #5072A7;
  font-size: 40px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding: 10px;
  display: inline-block;
  margin: 1%;
  
}

#hamburger {
    display: inline;
    float: left;
    width: 80px;
    margin-left: 30%;
    
}

.button {
  border: none;
  background-color: transparent;
}

.button:hover{
  border: none;
}

.dropdown-content {
  margin-top: 15%;
  margin-left: 10%;
  background-color: transparent;
}

.dropdown {
    display: inline;
    float: right;
    border-style: none;
    font-family: 'Ubuntu', 'san serif';
}

/*searchbar styling for main result page*/
.searchbar {
  color: #5072A7;
  margin: 5px;
  padding: 5px;
}

.city-label {
  display: flex;
  align-items:start;
}

.question {
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

#searchBtn {
  color: #5072A7;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 5px;
  font-size: 20px;
}

#cityInput {
  padding: auto;
  font-size: 20px;
}
#activSearch {
  padding: auto;
  font-size: 20px;
  width: 130px;
}

/* fitter styling */
li a {text-decoration : none; color : #2d2f31;}


#filter-by {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

#filter-btn {
  color: #5072A7;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 5px;
  font-size: 20px;
  background-color: #efefef;
  border-style: solid;
  border-width: 1px;
}


span {
  padding : 30px;
  color : white;
  font-size : 20px;
  font-variant : small-caps;
  cursor : pointer;
  display: inline;
}

span::after {
  float: right;
  right: 10%;
  /* content: "+"; */
}

.slide {
  clear:both;
  width:fit-content;
  position:relative;
  margin: 1%;
  left:65%;
  height:0px;
  overflow: hidden;
  text-align: center;
  background-color: #efefef;
  border-style: solid;
  transition: height .4s ease;
}

#li-btn {
  color: #5072A7;
  font-weight: 700;
}

.slide li {padding : 25px;
}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;}

/* Social Media Icons */

footer {
    text-align: center;
    margin: 10%;
}

#contact {
  max-width: 100%;
}
.social-media-list {
    margin-top: 10%;
    position: relative;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    /* margin-left: 100px; */

    padding: 0;
  }
  
  .social-media-list li a {
    color: rgb(255, 255, 255);
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width:60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px rgb(118, 118, 118);
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: rgb(107, 107, 107); 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);

    /* margin-left: 200px; */

  }

  /* Weather API Styling */
.City-Weather-ctn {
  height: 100px;
}


  #cityName {
    text-align: flex-start;
    padding: 15px;
    color: #485fc7;
    font-size: 60px;
    font-weight: bold;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
  }

  #weatherIcon {
    margin: 8px;
  }

  #currentWeather{
    margin: 35px;
  }

  #currentWeather{
    font-weight: bold;
    font-size: 30px;
  }

  .current-card {
    float: left;
    display: flex;
    width: 1050px;
  }

  .fc-ctn {
    display: flex;
    margin: -3em;
    
  }

  #fc1 {
    margin: 8px;
  }

  #fc2 {
    margin: 8px;
  }

  #fc3 {
    margin: 8px;
  }

  .forecast-card {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
    background-color: rgba(253, 249, 249, 0.3);
    border: 1px solid rgb(215, 211, 211);
    border-radius: 30px;
    height: 260px;
    width: 300px;
    padding: 1em;
    
  }


  .results-ctns{ 
    max-width: 90%;
  }

  .side-forecast{
    display: flex;
  }

  .fc-ctn{
    display: flex;
    flex-direction: column;
    margin-left: -193px;
    margin-top: 50px;
    align-self: flex-start;
    height: auto;
    position: sticky;
    top: 0;

  }


  .forecast-card h2 {
    float: left;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }



@media screen and (max-width: 1150px) {
  .forecast-card {
    
    display: none;
  }


}